@charset "ISO-8859-1";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --fontColor:#035755;
  --fontRedHat:"Red Hat Display", sans-serif;
}

body {
  background: linear-gradient(180deg, rgba(255, 141, 155, 0.1) 0%, white 10%);
}

.section {
  padding-bottom: 100px;
}
.section .direction {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.section .center {
  display: flex;
  align-items: center;
}
.section__title {
  font-family: var(--fontRedHat);
  font-weight: bold;
  font-size: 22px;
  line-height: 70px;
  color: #FA5652;
}
.section__span {
  font-family: var(--fontRedHat);
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: #035755;
  text-transform: capitalize;
}
.section__desc {
  margin-top: 20px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #4B4F51;
  text-transform: capitalize;
}
.section__button {
  position: relative;
  top: 40px;
  padding: 15px 40px;
  font-size: 15px;
  color: #FFFFFF;
  text-decoration: none;
  background: #FB4C47;
  box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
  border-radius: 65px;
  font-weight: 600;
  letter-spacing: 0.05em;
}
.section__button:hover {
  box-shadow: 0px 0px 20px rgba(199, 199, 199, 0.7);
  transition: 0.3s ease;
}
.section__image {
  width: 300px;
  z-index: 0;
}
.section__virus1 {
  position: absolute;
  bottom: 40px;
  left: 0px;
  width: 150px;
  z-index: -1;
  animation: spin 10s linear infinite;
}
.section__virus2 {
  position: absolute;
  top: 0;
  right: 0px;
  width: 100px;
  opacity: 0.8;
  z-index: -1;
  animation: spin 20s linear infinite;
}
.section__virus3 {
  position: absolute;
  top: 200px;
  right: 40px;
  width: 100px;
  z-index: -1;
  animation: spin 20s linear infinite;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.section .covidImage__image {
  width: 330px;
}

.coronavirus__title {
  font-weight: bold;
  font-family: var(--fontRedHat);
  font-size: 20px;
  line-height: 124%;
  color: #FA5652;
}
.coronavirus__span {
  font-weight: bold;
  font-size: 40px;
  font-family: var(--fontRedHat);
  line-height: 60px;
  text-transform: capitalize;
  color: #035755;
}
.coronavirus__desc {
  margin-top: 18px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #4B4F51;
  font-family: sans-serif;
}
.coronavirus__button {
  position: relative;
  background: rgba(250, 86, 82, 0.15);
  border-radius: 65px;
  padding: 21px 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  top: 55px;
  text-transform: capitalize;
  color: #FA5652;
  text-decoration: none;
}
.coronavirus__button:hover {
  box-shadow: 0px 0px 20px rgba(199, 199, 199, 0.2);
}

.upside {
  margin-bottom: 70px;
}
.upside__title {
  font-family: var(--fontRedHat);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #FA5652;
  margin-top: 40px;
}
.upside__span {
  display: block;
  font-family: var(--fontRedHat);
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #035755;
  margin-bottom: 20px;
}
.upside__desc {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
  color: #4B4F51;
}

.top {
  margin-top: -60px;
}

.text-position {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .row.direction {
    flex-direction: row;
  }

 
  .text-position {
    text-align: left;
  }

  .coronavirus .covidImage {
    margin-top: 75px;
  }

  .upside--top {
    margin-top: -60px;
  }
  .upside__title {
    margin-top: 40px;
  }
  .upside__desc {
    width: 80%;
    margin: auto;
  }

  .section .text-position {
    text-align: left;
  }
  .section__image {
    width: 500px;
  }
  .section__virus1 {
    top: 0px;
    left: -40px;
    width: 110px;
  }

  .coronavirus .covidImage__image {
    width: 450px;
  }
  .coronavirus__desc {
    text-align: left;
  }
}