<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<style>
* {text-align: center;}
</style>
</head>
<body>
<h1>E-Pass Management System</h1>
		<h2>Covid-19 ePass</h2><br><br>
		<a href="/eclipse-june-workspace/epassManagementSystem/src/main/webapp/WEB-INF/views/login.html">User LogIn</a><br><br>
		<a href="adduserform">New Register</a><br><br>
		<a href="/eclipse-june-workspace/epassManagementSystem/src/main/webapp/WEB-INF/views/Admin.html">Admin LogIn</a>
</body>
</html>